body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    cursor: pointer;
}

.sidebar {
    width: 250px;
    height: 100%;
    background-color: #ffffff;
    position: fixed;
    overflow-x: hidden;
    padding-top: 20px;
    color: rgb(15, 14, 14);
    border: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    cursor: pointer;
}

.icon-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    
}

.notifications {
    margin-left: 30px;
}
 
.tasks-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: gray;
    margin-right: 10px;
}

.profile-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
  
}

li {
    padding: 15px;
    cursor: pointer;
}
 
li a {
    text-decoration: none;
    color: black;
}
.application {
    font-weight: bold;
}

.content {
    margin-left: 250px;
    padding: 20px;
   
}
.logouts:hover{
    color: white;
    background-color: #ff9800;
    cursor: pointer;
}

#update {
    margin-right: 240px;
}
.buttons {
    display: flex;
    justify-content: end;
    gap: 30px;
}
.cars {
   height: 30px; 
}
.homes {
    padding-left: 70px;
    padding-right: 70px;
    background-color: #ff9800;
    border: none;
}
.logouts {
    padding-left: 63px;
    padding-right: 63px;
    color: #ff9800;
    border: 2px solid #ff9800 ;
    background-color: white;
    border-radius: 7px;
}
.desr {
    width: 100%;
    overflow-x: scroll;
}

li:hover{
background-color: #ff9800;}