body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.signup-container {
    background-color: #fff;
    padding: 100px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    justify-content: left;


}

h2 {
    color: #333;
}

.heading-h {
    color: #ffc107;
    font-weight: bolder;
}

form {
    display: flex;
    flex-direction: column;
    align-items: left;
}

label {
    color: #141313;
    margin-bottom: 8px;
    text-align: left;
    font-weight: normal;
}

input {
    width: 60vh;
    padding: 6px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ffc107;
    /* Yellow border */
    border-radius: 4px;
}

button {
    background-color: #ffc107;
    color: #000000f3;
    width: 100%;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
a{
  text-decoration: none;
  color: #ff9800;
}

.text-m {
    font-weight: lighter;
    text-align: left;
    display: flex;
}

button:hover {
    background-color: #ff9800;
}

/* Media query for smaller screens */
@media only screen and (max-width: 600px) {
    .signup-container {
        padding: 10px;
    }
}